
.cart-section{
    margin: 2px 50px;
    padding: 10px;
}
.cart-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 0.3px solid rgb(159, 159, 159);
    margin: 2px 300px;
    width: 700px;
}
.cart-img img{
    height: 100px;
    width: 100px;
}
.cart-name{
    color: rgb(63, 227, 21);
    font-size: large;
}
.cart-price{
    color:rgb(4, 111, 4)
}
.cart-button{
    border: none;
    background-color: rgb(212, 212, 212);
    color: red;
}
.cart-qty{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(1, 34, 62, 0.386);
}
.cart-checkout-btn{
    margin: 3px 0px;
    text-align: center;
    height: 30px;
    padding: 10px;
}
.cart-checkout-btn button{
    border: none;
    height: 20px;
    outline: none;
}
.cart-checkout-btn button:focus{
    border: 3px solid rgba(72, 140, 243, 0.666);
    height: 20px;
    outline: none;
}
@media (max-width:480px) {
    .cart-section{
        margin: 1px 0px;
        width: 100px;
        padding: 0px;
        text-align:center;
    }
    .cart-body{
        margin: 1px 30px;
        gap: 10px;
        width: 250px;
        height: 90px;
    }
    .cart-price{
        font-size: 12px;

    }
    .cart-img img{
        width: 70px;
        
    }
    .cart-name{
        font-size: 13px;
        width: 40px;
       
    }
    .cart-qty{
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
        color: rgba(1, 34, 62, 0.386);
    }
    .cart-button{
        font-size: 10px;
        font-weight: bolder;

    }
    .cart-checkout-btn{
        margin:3px 100px;
    }
    .cart-checkout-btn button{
        margin: auto;
        text-align: center;
        font-size: 10px;
        padding: 5px;
        color: rgb(66, 65, 65);
    }
}