
.cart-section{
    padding: 2px 0px;
    margin: 5px 0px;
}
.cart-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 0.3px solid rgb(159, 159, 159);
    margin: auto;
    margin-bottom: 2px;
    padding-right: 10px;
    width: 800px; 
}
.cart-img{
    height: 102px;
}
.cart-img img{
    height: 100px;
    width: 100px;
}
.cart-name{
    color: rgb(1, 2, 47);
    font-size: 18px;
    padding: 4px;
    width: 150px;
    word-wrap: break-word;
}
.cart-price{
    color:rgb(4, 111, 4);
    padding: 2px;
    width: 70px;
    font-size: 18px;
}
.cart-button{
    border: none;
    background-color: rgb(212, 212, 212);
    color: red;
}
.cart-qty{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(1, 34, 62, 0.386);
    width: 30px;   
}
.cart-checkout-btn{
    margin: 3px 0px;
    text-align: center;
    height: 30px;
    padding: 10px;
}
.cart-checkout-btn button{
    border:0.5px solid grey;
    height: 20px;
    transition: 1s ease;
}
.cart-checkout-btn button:focus{
    border: 3px solid rgba(72, 140, 243, 0.666);
    height: 20px;
    outline: none;
}
.cart-checkout-btn button:hover{
    background-color: rgb(118, 191, 227);
}

@media (max-width:1024px) {
    .cart-section{
        margin: auto;
    }
    .cart-body{
        margin: auto; 
        width: 600px;
        margin-bottom: 2px;
        justify-content: space-between;
    }
    .cart-price{
        font-size: 16px;
    }
    .cart-img{
        height:60px;
    }
    .cart-img img{
        width: 60px; 
        height: inherit;
    }
    .cart-name{
        font-size: 18px;
        width: 100px;  
        word-wrap: break-word;
    }
    .cart-qty{
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        color: rgba(1, 34, 62, 0.386);
    }
    .cart-button{
        font-size: 20px;
        font-weight: bolder;
        padding: 1px 10px;
    }
    .cart-checkout-btn{
        margin:3px 300px;
    }
    .cart-checkout-btn button{
        margin: auto;
        text-align: center;
        font-size: 10px;
        padding: 5px;
        color: rgb(66, 65, 65);
    }
    .cart-checkout-btn button:hover{
    background-color: rgb(118, 191, 227);
}

}

@media (max-width:480px) {
    .cart-section{
        margin: auto;
    }
    .cart-body{
        margin: auto;
        margin-bottom: 2px;
        gap: 10px;
        width: 300px;
    }
    .cart-price{
        font-size: 10px;
    }
    .cart-img img{
       width: 50px;
    }
    .cart-name{
        font-size: 10px;
        width: 40px;  
    }
    .cart-qty{
        font-size: 13px;
        font-family: 'Courier New', Courier, monospace;
        color: rgba(1, 34, 62, 0.386);
    }
    .cart-button{
        font-size: 10px;
        font-weight: bolder;

    }
    .cart-checkout-btn{
        margin:auto;
    }
    .cart-checkout-btn button{
        margin: auto;
        text-align: center;
        font-size:8px;
        padding: 5px;
        color: rgb(66, 65, 65);
    }
}