html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home:hover{
    color:darkblue ;

}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 2, 58);
    position: sticky;
    top: 0px;
    z-index: 1000;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.nav-cart{
    background-color: rgba(246, 147, 246, 0.43);
    margin-right: 50px;
    padding: 3px;
    border-bottom: 5px solid rgb(249, 2, 232);
    border-radius: 3px 3px 1px 1px;
    position: relative;
    width: 30px;
}
.nav-cart:hover{
    background-color: rgba(51, 6, 51, 0.803);
}.nav-cart span{
    color: white;
    font-size: smaller;
    position: absolute;
    top: 0;
    left: 22px;
    background-color: rgba(58, 3, 58, 0.912);
    border-radius: 50%;
    padding: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.nav-cart img{
    height: 30px;
    width: 30px;
}
.nav-ul ul{
    display: flex;
    gap: 50px;
}
li{
    list-style-type: none;
    font-size:large;
    font-weight: 300;
    color: rgb(143, 20, 188);
}
li:hover{
    color: rgba(240, 248, 255, 0.723);
}
input{
    border-radius: 5px 2px 2px 2px;
    border: 0cap;
    background-color: rgba(206, 213, 235, 0.134);
    outline: none;
    padding: 10px;
    width: 350px;
}
input::placeholder{
    color: rgba(255, 254, 255, 0.59);
    font-size: small;
    padding: 2px;
}
input:focus{
    background-color: rgb(27, 18, 94);
    color: white;
    padding: 10px;
    border-color: rgb(78, 93, 235);
    outline: none;
    border: 3px solid rgba(170, 154, 235, 0.578);
}


@media (max-width:1024px) {
    .nav-section input{
        width: 200px;
        padding: 5px;

    }
    .nav-cart{
        margin-right: 30px;
    }
    .nav-section ul{
        gap: 20px;
    }
}

@media (max-width:480px) {
    .nav-section{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .nav-ul ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-section input{
        width: 100%;
        height: 15px;
        font-size: small;
    }
    .nav-cart span{
        font-size: small;
    }
    .nav-cart{
        /* border-bottom: 3px solid green; */
        font-size: small;
        margin: auto;
    }
}