.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 2, 58);
    position: sticky;
    top: 0px;
    z-index: 1000;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.nav-cart{
    font-size: larger;
    background-color: rgba(250, 245, 250, 0.344);
    margin-right: 50px;
    padding: 5px;
    border-bottom: 2px solid red;
}
.nav-cart:hover{
    background-color: rgba(51, 6, 51, 0.803);
}
.nav-cart span{
    color: rgba(255, 255, 255, 0.621);
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: darkmagenta;
    padding: 3px;
    border-radius: 50%;
}
.nav-ul ul{
    display: flex;
    gap: 20px;
}
li{
    list-style-type: none;
    font-size: medium;
    font-weight: 300;
    color: rgb(143, 24, 187);

}
input{
    border-radius: 5px 5px 2px 2px;
    border: 0cap;
    background-color: rgba(206, 213, 235, 0.134);
    outline: none;
    padding: 10px;
    width: 350px;
}
input::placeholder{
    color: rgba(255, 254, 255, 0.59);
}
input:focus{
    background-color: rgb(27, 18, 94);
    color: white;
    padding: 10px;
    border-color: rgb(78, 93, 235);
    outline: none;
    border: 3px solid rgba(170, 154, 235, 0.578);
}
@media (max-width:480px) {
    .nav-section{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .nav-ul ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    input{
        width: 100%;
    }
    .nav-cart span{
        font-size: small;
    }
    .nav-cart{
        border-bottom: 3px solid green;
    }
}