
.menpage-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3px;   
}
.menpage-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    flex-wrap: wrap;
    background-color: white;
    transition: transform 0.3s ease;
    border: 0.5px solid grey;
    width: 350px;
}
.menpage-body:hover{
    transform: translate(3px);
}
.menpage-body img{
    height: 350px;
    width: 100%;
    object-fit:contain;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
.menpage-body h2{
    font-size: 20px;
    padding: 3px; margin: 1px 2px;
}
.menpage-body h3{
    font-size: 18px;
    color: rgb(92, 91, 91);
}

a{
    text-decoration: none;
}


@media (max-width:1024px){
.menpage-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
}  
.menpage-body{
    width: 250px;
}
.menpage-body img{
    height: 250px;
    width: 100%;
    
}
.menpage-body h2{
    font-size: 18px;  
    word-wrap: break-word;
}
}

@media (max-width:480px){
.menpage-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}  
.menpage-body{
 width: 137px;
}
.menpage-body img{
    height: 137px;
    width: 100%;
    object-fit: contain;
}
.menpage-body h2{
    font-size: 10px;
    word-wrap: break-word;
}
}

