
.menpage-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 1px 90px;
    gap: 5px;
    cursor:help;
}
.menpage-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    flex-wrap: wrap;
    background-color: white;
    transition: transform 0.3s ease;
    border: 0.5px solid grey;
    width: 250px;
}
.menpage-body:hover{
    transform: translate(3px);
}
img{
    height: 250px;
    width: 100%;
    object-fit:contain;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;

}
.menpage-body h2{
    font-size: 16px;
    margin: 1px 2px;
    padding: 3px;
}
/* .menpage-body h3{
    font-size: 16px;
    margin: 1px 0px;
} */
a{
    text-decoration: none;
}

@media (max-width:480px){

    .menpage-section{
        margin:3px 25px;
    }
}